In [1]:
import pandas as pd
df_epi = pd.read_csv('episodes_final_df.csv')

In [4]:
df_epi.head()

,id,air_date,episode_number,name,overview,runtime,season_number,vote_average,list_of_characters,average_character_popularity
0,85987,1994-09-22,1,Pilot,An introduction to the gang. After Rachel leav...,23,1,7.081,"['Paul', 'Franny', 'Jasmine']",7.465333
1,86012,1994-09-29,2,The One with the Sonogram at the End,"Ross's lesbian ex-wife, Carol, is pregnant wit...",23,1,7.333,"['Carol Willick', 'Dr. Oberman', 'Robbie', 'Ma...",10.371889
2,85981,1994-10-06,3,The One with the Thumb,Monica finds it difficult to break up with her...,23,1,8.130,"['Lizzy', 'Paula', 'Alan', 'Gunther']",9.014250
3,85983,1994-10-13,4,The One with George Stephanopoulos,While the men attend a hockey game and end up ...,23,1,7.840,"['Nurse Sizemore', 'Joanne', 'Leslie', 'Pizza ...",6.773571
4,86034,1994-10-20,5,The One with the East German Laundry Detergent,While Chandler and Phoebe decide to break up w...,23,1,8.041,"['Horrible Woman', 'Angela', 'Bob', 'Janice', ...",8.251000

In [8]:
df_epi.shape

(223, 10)

In [10]:
dc = pd.read_csv('Modified_crew.csv')
dc.head()

        id                 job    original_name  popularity
0  2639442            Director  Kevin S. Bright       1.519
1    85987              Writer   Marta Kauffman       5.777
2    85987              Writer      David Crane       3.760
3    85987            Director    James Burrows       5.803
4    85987  Executive Producer      David Crane       1.368

In [11]:
grouped = dc.groupby('id').agg(lambda x: x.tolist()).reset_index()

In [28]:
grouped.head()

,id,job,original_name,popularity
0,85979,"[Director, Writer, Writer, Director of Photogr...","[James Burrows, Jeff Greenstein, Jeff Strauss,...","[5.803, 1.251, 0.84, 1.094, 1.62]"
1,85981,"[Director, Director of Photography, Editor, Ar...","[James Burrows, Richard Hissong, Andy Zall, Jo...","[5.803, 1.094, 1.62, 4.742, 1.548, 3.805, 1.021]"
2,85983,"[Director, Writer, Director of Photography, Ed...","[James Burrows, Alexa Junge, Richard Hissong, ...","[5.803, 1.388, 1.094, 1.62, 4.742, 1.548, 3.80..."
3,85987,"[Writer, Writer, Director, Executive Producer,...","[Marta Kauffman, David Crane, James Burrows, D...","[5.777, 3.76, 5.803, 1.368, 1.62, 1.686, 4.742..."
4,85990,"[Writer, Writer, Director, Director of Photogr...","[Marta Kauffman, David Crane, James Burrows, R...","[5.777, 3.76, 5.803, 1.094, 1.62]"

In [29]:
grouped.shape

(217, 4)

In [30]:
merged_df = pd.merge(grouped, df_epi, on='id', how='outer')
merged_df.head()

,id,job,original_name,popularity,air_date,episode_number,name,overview,runtime,season_number,vote_average,list_of_characters,average_character_popularity
0,85979,"[Director, Writer, Writer, Director of Photogr...","[James Burrows, Jeff Greenstein, Jeff Strauss,...","[5.803, 1.251, 0.84, 1.094, 1.62]",1994-11-17,9.0,The One Where Underdog Gets Away,Monica's first Thanksgiving dinner for the gan...,23.0,1.0,8.043,"['Terry', 'Susan Bunch', 'Carol Willick', 'Gun...",14.485000
1,85981,"[Director, Director of Photography, Editor, Ar...","[James Burrows, Richard Hissong, Andy Zall, Jo...","[5.803, 1.094, 1.62, 4.742, 1.548, 3.805, 1.021]",1994-10-06,3.0,The One with the Thumb,Monica finds it difficult to break up with her...,23.0,1.0,8.130,"['Lizzy', 'Paula', 'Alan', 'Gunther']",9.014250
2,85983,"[Director, Writer, Director of Photography, Ed...","[James Burrows, Alexa Junge, Richard Hissong, ...","[5.803, 1.388, 1.094, 1.62, 4.742, 1.548, 3.80...",1994-10-13,4.0,The One with George Stephanopoulos,While the men attend a hockey game and end up ...,23.0,1.0,7.840,"['Nurse Sizemore', 'Joanne', 'Leslie', 'Pizza ...",6.773571
3,85987,"[Writer, Writer, Director, Executive Producer,...","[Marta Kauffman, David Crane, James Burrows, D...","[5.777, 3.76, 5.803, 1.368, 1.62, 1.686, 4.742...",1994-09-22,1.0,Pilot,An introduction to the gang. After Rachel leav...,23.0,1.0,7.081,"['Paul', 'Franny', 'Jasmine']",7.465333
4,85990,"[Writer, Writer, Director, Director of Photogr...","[Marta Kauffman, David Crane, James Burrows, R...","[5.777, 3.76, 5.803, 1.094, 1.62]",1994-11-10,8.0,The One Where Nana Dies Twice,Monica and Ross mourn the death of their grand...,23.0,1.0,7.837,"['Aunt Lillian', 'Lowell', 'Shelley', 'Jack Ge...",9.672667

In [32]:
merged_df[merged_df.isnull().any(axis=1)]

,id,job,original_name,popularity,air_date,episode_number,name,overview,runtime,season_number,vote_average,list_of_characters,average_character_popularity
116,86818,"[Director, Writer]","[David Schwimmer, Scott Silveri]","[48.006, 3.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,86943,[Director],[Kevin S. Bright],[1.519],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,87008,"[Director, Writer, Writer]","[Kevin S. Bright, Marta Kauffman, David Crane]","[1.519, 5.777, 3.76]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,87201,[Director],[Gary Halvorson],[2.843],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,87598,"[Director, Writer]","[Gary Halvorson, Shana Goldberg-Meehan]","[2.843, 1.788]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,2639442,[Director],[Kevin S. Bright],[1.519],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,1007810,NaN,NaN,NaN,1999-10-21,5.0,The One with Joey's Porsche,"Ross and Rachel try to get an annulment, but r...",22.0,6.0,8.053,"['Judge', 'Porsche Owner', 'Gunther']",9.143333
218,87053,NaN,NaN,NaN,2001-02-08,14.0,The One Where They All Turn Thirty,"When Rachel turns 30, the gang reminisces abou...",22.0,7.0,8.400,"['Tag', 'Jack Geller', 'Judy Geller']",15.767667
219,87335,NaN,NaN,NaN,2002-01-17,13.0,The One Where Chandler Takes a Bath,Monica turns Chandler on to the concept of tak...,22.0,8.0,8.700,"['Dr. Long', 'Gunther']",6.155000
220,87373,NaN,NaN,NaN,2002-04-04,19.0,The One with Joey's Interview,Joey prepares for an interview with Soap Opera...,22.0,8.0,7.800,"['Shelly', 'Gunther']",19.703500
221,87411,NaN,NaN,NaN,2002-12-05,9.0,The One with Rachel's Phone Number,Joey becomes convinced that Monica's having an...,24.0,9.0,8.407,"['Mike Hanningan', 'Bill', 'Bartender', ""Chand...",13.561250
222,87443,NaN,NaN,NaN,2003-01-30,13.0,The One Where Monica Sings,A night at Mike's piano bar gives Monica a ver...,31.0,9.0,8.300,"['Mike Hanningan', 'Michelle', 'Gavin Mitchell...",23.651800
223,87475,NaN,NaN,NaN,2003-02-06,14.0,The One with the Blind Dates,Joey and Phoebe conspire to set up Rachel and ...,24.0,9.0,8.400,"['Waiter', 'Steve', 'Waiter #2', 'Gunther']",6.210250
224,87442,NaN,NaN,NaN,2003-02-13,15.0,The One with the Mugging,Joey endures a draining audition at the hands ...,23.0,9.0,8.600,"['Lowell', 'Steve', 'Leonard Hayes', 'Female P...",10.036200
225,87477,NaN,NaN,NaN,2003-02-20,16.0,The One with the Boob Job,When Monica and Chandler are financially strap...,24.0,9.0,8.500,"['Mike Hanningan', 'Gunther']",25.578500
226,87517,NaN,NaN,NaN,2003-04-17,19.0,The One with Rachel's Dream,Rachel dreams about a romantic encounter with ...,25.0,9.0,8.500,"['Olivia', 'Director', 'Gunther']",8.338667
227,87553,NaN,NaN,NaN,2003-10-02,2.0,The One Where Ross Is Fine,"Rachel, Joey and Charlie attend an uncomfortab...",24.0,10.0,8.600,"['Leslie Buffay', 'Charlie Wheeler', 'Frank Bu...",10.574222
228,87529,NaN,NaN,NaN,2003-11-06,6.0,The One with Ross's Grant,Ross has a chance to be selected by Dr. Benjam...,25.0,10.0,8.519,"['Benjamin Hobart', 'Charlie Wheeler', 'Dr. Li...",10.540000

In [33]:
df = merged_df.dropna(subset=['air_date'])

In [34]:
df[df.isnull().any(axis=1)]

,id,job,original_name,popularity,air_date,episode_number,name,overview,runtime,season_number,vote_average,list_of_characters,average_character_popularity
217,1007810,NaN,NaN,NaN,1999-10-21,5.0,The One with Joey's Porsche,"Ross and Rachel try to get an annulment, but r...",22.0,6.0,8.053,"['Judge', 'Porsche Owner', 'Gunther']",9.143333
218,87053,NaN,NaN,NaN,2001-02-08,14.0,The One Where They All Turn Thirty,"When Rachel turns 30, the gang reminisces abou...",22.0,7.0,8.400,"['Tag', 'Jack Geller', 'Judy Geller']",15.767667
219,87335,NaN,NaN,NaN,2002-01-17,13.0,The One Where Chandler Takes a Bath,Monica turns Chandler on to the concept of tak...,22.0,8.0,8.700,"['Dr. Long', 'Gunther']",6.155000
220,87373,NaN,NaN,NaN,2002-04-04,19.0,The One with Joey's Interview,Joey prepares for an interview with Soap Opera...,22.0,8.0,7.800,"['Shelly', 'Gunther']",19.703500
221,87411,NaN,NaN,NaN,2002-12-05,9.0,The One with Rachel's Phone Number,Joey becomes convinced that Monica's having an...,24.0,9.0,8.407,"['Mike Hanningan', 'Bill', 'Bartender', ""Chand...",13.561250
222,87443,NaN,NaN,NaN,2003-01-30,13.0,The One Where Monica Sings,A night at Mike's piano bar gives Monica a ver...,31.0,9.0,8.300,"['Mike Hanningan', 'Michelle', 'Gavin Mitchell...",23.651800
223,87475,NaN,NaN,NaN,2003-02-06,14.0,The One with the Blind Dates,Joey and Phoebe conspire to set up Rachel and ...,24.0,9.0,8.400,"['Waiter', 'Steve', 'Waiter #2', 'Gunther']",6.210250
224,87442,NaN,NaN,NaN,2003-02-13,15.0,The One with the Mugging,Joey endures a draining audition at the hands ...,23.0,9.0,8.600,"['Lowell', 'Steve', 'Leonard Hayes', 'Female P...",10.036200
225,87477,NaN,NaN,NaN,2003-02-20,16.0,The One with the Boob Job,When Monica and Chandler are financially strap...,24.0,9.0,8.500,"['Mike Hanningan', 'Gunther']",25.578500
226,87517,NaN,NaN,NaN,2003-04-17,19.0,The One with Rachel's Dream,Rachel dreams about a romantic encounter with ...,25.0,9.0,8.500,"['Olivia', 'Director', 'Gunther']",8.338667
227,87553,NaN,NaN,NaN,2003-10-02,2.0,The One Where Ross Is Fine,"Rachel, Joey and Charlie attend an uncomfortab...",24.0,10.0,8.600,"['Leslie Buffay', 'Charlie Wheeler', 'Frank Bu...",10.574222
228,87529,NaN,NaN,NaN,2003-11-06,6.0,The One with Ross's Grant,Ross has a chance to be selected by Dr. Benjam...,25.0,10.0,8.519,"['Benjamin Hobart', 'Charlie Wheeler', 'Dr. Li...",10.540000

In [36]:
df.to_csv('all_metadat_combined.csv')

In [35]:
df.head()

,id,job,original_name,popularity,air_date,episode_number,name,overview,runtime,season_number,vote_average,list_of_characters,average_character_popularity
0,85979,"[Director, Writer, Writer, Director of Photogr...","[James Burrows, Jeff Greenstein, Jeff Strauss,...","[5.803, 1.251, 0.84, 1.094, 1.62]",1994-11-17,9.0,The One Where Underdog Gets Away,Monica's first Thanksgiving dinner for the gan...,23.0,1.0,8.043,"['Terry', 'Susan Bunch', 'Carol Willick', 'Gun...",14.485000
1,85981,"[Director, Director of Photography, Editor, Ar...","[James Burrows, Richard Hissong, Andy Zall, Jo...","[5.803, 1.094, 1.62, 4.742, 1.548, 3.805, 1.021]",1994-10-06,3.0,The One with the Thumb,Monica finds it difficult to break up with her...,23.0,1.0,8.130,"['Lizzy', 'Paula', 'Alan', 'Gunther']",9.014250
2,85983,"[Director, Writer, Director of Photography, Ed...","[James Burrows, Alexa Junge, Richard Hissong, ...","[5.803, 1.388, 1.094, 1.62, 4.742, 1.548, 3.80...",1994-10-13,4.0,The One with George Stephanopoulos,While the men attend a hockey game and end up ...,23.0,1.0,7.840,"['Nurse Sizemore', 'Joanne', 'Leslie', 'Pizza ...",6.773571
3,85987,"[Writer, Writer, Director, Executive Producer,...","[Marta Kauffman, David Crane, James Burrows, D...","[5.777, 3.76, 5.803, 1.368, 1.62, 1.686, 4.742...",1994-09-22,1.0,Pilot,An introduction to the gang. After Rachel leav...,23.0,1.0,7.081,"['Paul', 'Franny', 'Jasmine']",7.465333
4,85990,"[Writer, Writer, Director, Director of Photogr...","[Marta Kauffman, David Crane, James Burrows, R...","[5.777, 3.76, 5.803, 1.094, 1.62]",1994-11-10,8.0,The One Where Nana Dies Twice,Monica and Ross mourn the death of their grand...,23.0,1.0,7.837,"['Aunt Lillian', 'Lowell', 'Shelley', 'Jack Ge...",9.672667